*~
*.swp
*.swo
.DS_Store
*~
*#
.#*
*.out
/WorkSpace/code.cpp
.sudo_as_admin_successful
.bash_history
ojt_*.sh
geckodriver.log
test
.mozilla
.local
.cache
.config
.zcompdump
.zsh_history
.zshrc
.viminfo
online-judge-tools
.bashrc
.bash_profile
*.json
